<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beezy.MvvmCross.Plugins.SecureStorage" version="1.0.0" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="MvvmCross.Community.Plugin.Sqlite" version="3.1.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="MvvmCross.HotTuna.Plugin.Location" version="3.5.1" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.5.1" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.5.1" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="Xam.Plugin.Connectivity" version="1.0.4" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.1.4" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xam.Plugins.Settings" version="1.5.2" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xamarin.Forms" version="1.5.0.6446" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="Xamarin.Insights" version="1.11.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
</packages>