<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beezy.MvvmCross.Plugins.SecureStorage" version="1.0.0" targetFramework="portable-MonoAndroid10+MonoTouch10+net45+win+wp80+xamarinios10+xamarinmac20" requireReinstallation="True" />
  <package id="BouncyCastle-PCL" version="1.0.0.6" targetFramework="portable-net45+win80+wpa81" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="MvvmCross.Community.Plugin.Sqlite" version="3.1.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.1" targetFramework="portable-MonoAndroid10+MonoTouch10+net45+win+wp80+xamarinios10+xamarinmac20" requireReinstallation="True" />
  <package id="MvvmCross.HotTuna.Plugin.Location" version="3.5.1" targetFramework="portable-MonoAndroid10+MonoTouch10+net45+win+wp80+xamarinios10+xamarinmac20" requireReinstallation="True" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.5.1" targetFramework="portable-MonoAndroid10+MonoTouch10+net45+win+wp80+xamarinios10+xamarinmac20" requireReinstallation="True" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.5.1" targetFramework="portable-MonoAndroid10+MonoTouch10+net45+win+wp80+xamarinios10+xamarinmac20" requireReinstallation="True" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="portable-MonoAndroid10+MonoTouch10+net45+win+wp80+xamarinios10+xamarinmac20" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="portable-MonoAndroid10+MonoTouch10+net45+win+wp80+xamarinios10+xamarinmac20" requireReinstallation="True" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-net45+win80+wpa81" />
  <package id="Portable.BouncyCastle-Signed" version="1.7.0.2" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="PubnubPCL" version="3.7.0.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Quickblox.Sdk.Xamarin" version="1.0.1" targetFramework="portable-net45+win80+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="1.0.4" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.1.5" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Xam.Plugins.Settings" version="1.5.2" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Xamarin.Forms" version="2.0.0.6490" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="Xamarin.Insights" version="1.11.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="XLabs.Core" version="2.0.5679" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="XLabs.Forms" version="2.0.5679" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="XLabs.IoC" version="2.0.5679" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="XLabs.Platform" version="2.0.5679" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
  <package id="XLabs.Serialization" version="2.0.5679" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" requireReinstallation="True" />
</packages>